@import "../main/mixin.scss";

// NAV PORTFOLIO
.list_navigate_portfolio {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.08px;
  cursor: pointer;
  color: #2196f3;
}

.list_navigate_portfolio {
  @include mq (tablet) {
    text-align: center;
    padding-top: 32px;
    font-size: 14px;
    letter-spacing: 0.02em;
  }
}

.list_navigate_portfolio::after {
  @include mq (tablet) {
    content: "";
    display: block;
    width: 78px;
    height: 4px;
    margin-top: 28px;
    border-radius: 2px;
    background-color: var(--accent-web-color);
  }
}

/* HERO */
.hero_portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually_hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* BUTTONS */
.buttons {
  // display: flex;
  // flex-wrap: wrap;
  // gap: 15px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 0;

  @include mq (tablet) {
    display: flex;
    justify-content: center;
  }
}

.buttons .items {
  display: inline-block;
}

.buttons .items_br {
  @include mq (tablet) {
    margin-left: 8px;
  }
}

.buttons .items + .items {
  margin-left: 8px;
}

.buttons .items:not(:nth-last-child(-n + 2)) {
  @include mq (before-tablet) {
    margin-bottom: 15px;
  }
}

.options {
  display: block;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: transparent;
  background-color: #f5f4fa;

  @include mq (mobile) {
    display: inline-block;
  }
}

.transfer {
  @include mq (tablet) {
    display: none;
  }
}

.options:hover,
.options:focus {
  color: var(--stock-text-color);
  background-color: var(--accent-web-color);
  box-shadow: 
  0px 3px 1px rgba(0, 0, 0, 0.1), 
  0px 1px 2px rgba(0, 0, 0, 0.08), 
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Cards */
.cards {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  @include mq (tablet) {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
  }

  @include mq (desktop) {
  width: 1170px;
  }
}

.cards .items{
  margin-bottom: 30px;
  /* overflow: hidden; */

  @include mq (tablet) {
    width: calc((100% - 60px) / 2);
    height: 440px;
  }

  @include mq (desktop) {
    width: calc((100% - 60px) / 3);
    height: 400px;
  }
}

.cards .items:not(:nth-child(2n)) {
  @include mq (tablet-only) {
    margin-right: 30px;
  }
}

.cards .items:not(:nth-child(3n)) {
  @include mq (desktop) {
    margin-right: 30px;
  }
}

.cards .items:not(:nth-last-child(-n + 3)) {
  @include mq (desktop) {
    margin-bottom: 30px;
  }
}

.cards_link {
  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards_link:hover,
.cards_link:focus {
  box-shadow: 
  0px 1px 1px rgba(0, 0, 0, 0.12), 
  0px 4px 4px rgba(0, 0, 0, 0.06), 
  1px 4px 6px rgba(0, 0, 0, 0.16);
}

.text {
  padding: 20px 24px 20px 24px;
  border-right: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  border-left: 1px solid rgba(238, 238, 238, 1);
}

.cards_top {
  @include mq (tablet-only) {
    padding-bottom: 56px;
  }
}

.name_project {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--navigate-text-name-color);

  @include mq (tablet-only) {
    letter-spacing: 0.06em;
  }
}

.description_project {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--contacts-and-description-color);
}

.i_box {
  position: relative;
  overflow: hidden;
}

.description_box {
  width: 100%;
  height: 294px;
  padding: 63px 24px;

  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  

  background-color: rgba(33, 150, 243, 0.9);
}

.cards_link:hover .description_box {
  transform: translateY(0);
}

.description_text {
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;

  color: #FFFFFF;
}
